html{
  background-color:black;
  color:whitesmoke;
  padding-top:20px;
  padding-left:70px;
  padding-right: 70px;
}

body{
    border-left: 1px solid rgb(255, 230, 0);
    border-right:1px solid rgb(255, 217, 0);
    padding:40px;
}

h1,h2,h3{
   text-align: center;
}

a{
    color:#fff;
    text-decoration: none;
}

a:visited{
    color: antiquewhite;
}

a:hover , a:active{
    background-color: black;

}

table{
    border-collapse: collapse;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;

}

td,th{
    padding:10px;
    border:1px solid rgb(255, 234, 0);


}
